@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic, oblique;
}
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Karla';
  src: url('fonts/Karla-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico.ttf') format('truetype');
}

/**
 * style start
 **/

.uppercase { text-transform: uppercase; }

body {
  font-family: arial;
  font-size: 16px;
  line-height: 1.25em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2d2d2d;
}

img {
  max-width: 100%;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size: 3em;
  font-family: "Pacifico";
  color: #646464;
  margin: 1em auto;
}

header {
  background-color: black;
  text-align: center;
  padding-top: 10px;
}

.logo {
  max-width: 60%;
  max-height: 50px;
}


nav ul {
  padding: 1em 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 70%;
}

nav ul li {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

.navlink {
  color: white;
  text-decoration: none;
}

main {
  margin: .5em;
}

footer {
  background: #2d2d2d;
  color: white;
  text-align: center;
  padding: 3em 2em;
}

footer p {
  margin: 0 .5em 1.5em .5em;
}

/**
 * override nav ul li styles
 **/

footer nav ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li {
  margin: .5em;
}

p {
  line-height: 2em;
  margin-bottom: 2em;
}

a {
  color: #e2574c;
}
a:hover {
  color: #b64036;
}

.muted-text {
  color: #999;
}

.banner {
  background: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(0, 0, 0, .35)),
      to(rgba(0, 0, 0, .25))
    ),
    url('file:///Users/trangnguyen/Desktop/Perfect%20Paddles/images/kayak-bkgd.jpg');
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, .35) 0%,
      rgba(0, 0, 0, .25) 100%
    ),
    url('file:///Users/trangnguyen/Desktop/Perfect%20Paddles/images/kayak-bkgd.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}

.site-title span {
  display: block;
  color: white;
  text-align: center;
  padding: .5em 0;
}

.enjoy-the {
  font-family: 'Karla';
  font-size: 1.5em;
}

.great-outdoors, .from-the-water {
  font-family: 'Pacifico';
  text-shadow: 2px 2px 5px #999;
}

.great-outdoors {
  font-size: 3em;
}

.from-the-water {
  font-size: 2.25em;
}

.banner p {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  margin: 1.5em auto;
  margin-bottom: 3em;
  padding: 1em;
  width: 75%;
}

.btn-signup {
  background-color: #e2574c;
  border-radius: 2em;
  border: 1px solid #e2574c;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.15em;
  padding: .75em;
}
.btn-signup:hover {
  background-color: #b64036;
  border-color: #b64036;
  color: white;
}

.about {
  text-align: center;
}

.promo-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.promo-images img {
  width: 100%;
  margin: .5em 0;
  -webkit-box-shadow: 1px 0px 5px 1px #666;
          box-shadow: 1px 0px 5px 1px #666;  
  width: 32%;   
}

.rentals table, .rentals th, .rentals td {
  border: 1px solid #c8c8c8;
}
.rentals table {
  width: 100%;
}
.rentals th {
  background: #e6e6e6;
  text-align: center;
  font-weight: bold;
  padding: .5em 0;
}
.rentals td {
  width: 33%;
  text-align: center;
  padding: .5em;
}
.rentals td:first-child {
  text-align: left;
}
.rentals tr:hover {
  background-color: #fbf6d9;
}

.location {
  text-align: center;
}

.map {
  width: 100%;
  height: 40vh;
}

.social-link-words {
  display: none;
}

input {
  font-family: 'Pacifico';
  color: rebeccapurple;
  padding: .5em 1em;

}

input:focus, textarea:focus {
  outline-color: rebeccapurple;
}

textarea {
  font-family: 'Karla';
  padding: 1em;
}

button {
  padding: 2em;
  background-color: red;
  color: white;
  border: none;
  -webkit-box-shadow: 2px 5px 10px black;
          box-shadow: 2px 5px 10px black;
}

select {
  font-family: 'Pacifico';
  font-size: 2em;
  color: goldenrod;
  background-color: purple;
}


/**
 * tablet breakpoint: 600px
 **/

 @media (min-width: 600px){
   header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
   }

   .logo {
     max-width: 40%;
   }

   nav {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
         -ms-flex-positive: 1;
             flex-grow: 1;
     -ms-flex-negative: 0;
         flex-shrink: 0;
     -ms-flex-preferred-size: 0;
         flex-basis: 0;
     -webkit-box-pack: end;
         -ms-flex-pack: end;
             justify-content: flex-end;
   }

   nav ul {
     width: auto;
     max-width: auto;
     margin: 0;
   }

   nav ul li {
     margin: 0 .5em;
   }

   footer {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
         -ms-flex-positive: 1;
             flex-grow: 1;
     -ms-flex-negative: 0;
         flex-shrink: 0;
     -ms-flex-preferred-size: 0;
         flex-basis: 0;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-flow: row wrap;
             flex-flow: row wrap;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
   }

   footer article {
     text-align: left;
     max-width: 40%;
   }

   footer nav ul {
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-box-pack: start;
         -ms-flex-pack: start;
             justify-content: flex-start;
     -webkit-box-align: start;
         -ms-flex-align: start;
             align-items: flex-start;
     width: auto;
   }

   footer nav ul li {
    margin: .25em .5em;
   }

   .banner p {
     display: inline-block;
     width: auto;
     padding: .5em;
   }

   .rentals {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-flex: 1;
         -ms-flex-positive: 1;
             flex-grow: 1;
     -ms-flex-negative: 0;
         flex-shrink: 0;
     -ms-flex-preferred-size: 0;
         flex-basis: 0;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-flow: row wrap;
             flex-flow: row wrap;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
   }

   .rentals h2 {
     width: 100%;
   }

   .rentals article, .rentals table {
     width: 49%;
   }

   .social-link-words {
     display: inline;
     padding-left: 0.35em;
   }
 }

 /**
  * desktop breakpoint: 1140px
  **/
  @media (min-width: 1140px){    
    .about p {
      max-width: 40%;
      margin: 1.5em auto;
    }

    footer article {
      max-width: 30%;
    }

    .rentals table {
      width: 40%;
    }
  }